.card {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 40px;
}
.card_image {
    border-radius: 10px;
}
.card_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}
.card_body_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.card_tag_wrap {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 15px;
    flex: 1 0 0;
    flex-wrap: wrap;
    overflow: hidden;
}
.card_tag {
    color: #00C7AF;
    font-size: 18px;
    font-weight: 400;
}
.card_more_button {
    display: flex;
    height: 34px;
    padding: 10px 20px 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 20px;
    background: #A384FE;
}
.card_more_button:hover {
    background: #4200FF;
}
.card_more_button span {
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.card_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.card_title_wrap {
    display: flex;
    width: 100%;
    height: 36px;
    justify-content: flex-start;
    align-items: center;
}
.card_title {
    color: #040404;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}
.card_title:hover {
    color: #4200FF;
    font-size: 34px;
    letter-spacing: -0.4px;
}
.card_text_wrap {
    display: flex;
    width: 100%;
    height: 108px;
    justify-content: center;
    align-items: center;
}
.card_text {
    width: 100%;
    flex-shrink: 0;
    align-self: stretch;
    color: #555555;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}